<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.my.myandroidlabs">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EmptyActivity"/>
        <activity android:name=".WeatherForecast" />
        <activity android:name=".TestToolbar" />
        <activity android:name=".ChatRoomActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.cst2335.com/rockandroid” -->
                <data
                    android:host="www.cst2335.com"
                    android:pathPrefix="/myAndroidLabs"
                    android:scheme="http" />
                <!-- note that the leading "/" is required for pathPrefix -->
                <!-- Accepts URIs that begin with "cst2335://myAndroidLabs” -->
                <data
                    android:host="myandroidlabs"
                    android:scheme="cst2335" />
            </intent-filter>
        </activity>
    </application>

</manifest>